<main class="min-h-screen w-full flex items-center justify-center">
  <!-- Left: form -->
  <section class="p-8 flex-grow flex flex-col h-screen justify-start">
    <header class="mb-6">
    </header>
    <div class="flex flex-col flex-grow justify-center gap-[30px]" id="form-container">
      <h1 class="text-4xl font-bold">
        Cuéntanos sobre ti para comenzar.
      </h1>
    </div>

  </section>

  <!-- Right: image / illustration -->
  <aside class="hidden md:flex flex-col bg-gray-800 p-8 items-start justify-center h-screen w-[400px]">
    <span class="text-4xl font-bold text-white text-center">
      ¡Hola
    </span>

    <span id="name-span" class="text-6xl font-bold text-purple-300 text-center italic">
      Amigo!
    </span> <br>
    <span class="text-2xl text-white">
      ¿Listo para aprender
    </span> <br>
    <span id="target-span" lang="es" class="text-6xl text-blue-500 font-extrabold break-all hyphens-auto">un nuevo <br>
      idioma🌍?</span>
  </aside>
</main>